- const testing = true
include partials/_variables
include partials/_mixins

doctype html
html(lang="en")
  
  include partials/_head.pug
    
  body.error-503
    
    main.error-503
      .inner
        
        h1 Down for maintenance.
        img.logo(src="img/footer-logo.png" alt="The White House Historical Association")
        .text-holder
          p We are currently experiencing scheduled maintenance and the site is down temporarily as a result.
          p We thank you for your patience.

    include partials/_javascripts